

<div class="row">
	<div class="col s12 m12 l4 offset-m2 offset-l4">
		<div class="card">

			<div class="card-action teal lighten-1 white-text center">
				<h6>Sign Up</h6>
			</div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>	
      <%= render "devise/shared/error_messages", resource: resource %> 		
      <div class="card-content">
				<div class="form-field">
					<%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div><br>

        <div class="form-field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        
				<div class="form-field">
					<%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
				</div><br>
        
          <p>
            <label>
              <%= f.check_box :remember_me %>
              <span>Agre with Terms of Use</span>
            </label>
          </p><br>

				<div class="form-field m8 ">
          <%= f.submit "Sign Up", class: 'btn waves-effect' %>				
        </div><br>
        <%= render "devise/shared/links" %>
			</div>
      <% end %>
		</div>
	</div>
</div>
