<nav class=" purple">
    <div class="nav-wrapper">   
      <%= link_to "RailScript", root_path, class: 'brand-logo' %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "To_do list", todos_path %> </li>
        <% if user_signed_in? %>
          <!-- Dropdown Trigger -->
          <li> <a class='dropdown-trigger ' data-target='dropdown1'><%= current_user.email %></a></li> 
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %> </li>
        <% end %> 
      </ul>
    </div>
  </nav>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li class="disabled"><a class="disabled black-text" href="#!">Acount Management</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><%= link_to "Edit perfil", edit_user_registration_path %> </li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
  </ul>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
  